<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context">
	<!-- configuration details go here -->

	<bean id="compactDisc" class="soundsystem.BlankDisc">
		<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />
		<constructor-arg value="The Beatles" />
	</bean>

	<bean id="cdPlayer" class="soundsystem.CDPlayer">
		<constructor-arg ref="compactDisc" />
	</bean>

	<!-- 使用 c-namespace的方式，要宣告schema -->
	<bean id="cdPlayer" class="soundsystem.CDPlayer" c:cd-ref="compactDisc" />
</beans>